<html>
  <head>
    <link rel="stylesheet" href="/viewsCSS/registerForm.css" />
  </head>
  <body>
    <script
      messages="<%=messages%>"
      messageType="<%=messageType%>"
      src="/viewsJS/messages.js"
    ></script>

    <div class="registerForm">
      <form action="/register" method="post">
        <div class="name">
          <label for="name">Name</label>
          <input class="textInput" type="text" id="name" name="name" />
        </div>
        <div class="password">
          <label for="password">Password</label>
          <input
            class="textInput"
            type="password"
            id="password"
            name="password"
          />
        </div>
        <div class="passwordConfirm">
          <label for="passwordConfirm">Confirm Password</label>
          <input
            class="textInput"
            type="password"
            id="passwordConfirm"
            name="passwordConfirm"
          />
        </div>
        <div class="submitBtn">
          <input type="submit" value="Register" />
        </div>
      </form>
    </div>
  </body>
</html>
